/* Sticky footer position and size
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 300px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* Taller footer on small screens */

@media (max-width: 34em) {
    body {
        margin-bottom: 500px;
    }
    .footer {
        height: 500px;
    }
}


/* Sticky footer style and color
-------------------------------------------------- */

#footer {
    padding-top: 30px;
    background-color: #292c2f;
    color: #bbb;
    padding: 15px;
}

#footer a {
    color: #999;
    text-decoration: none;
}

#footer a:hover,
#footer a:focus {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

.futa {
    height: 190px;
}