/* *****Top Navbar section******** */


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add an active class to highlight the current page */

.active {
    background-color: #4CAF50;
    color: white;
}

.center {
    text-align: center;
}


/* profile css section  */

.product-title {
    text-align: center;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}


/* history section */

.secondRow {
    margin-top: 40px;
}